Source: ros-noetic-audibot-gazebo
Section: misc
Priority: optional
Maintainer: Micho Radovnikovich <mtradovn@oakland.edu>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-gazebo-ros, ros-noetic-nav-msgs, ros-noetic-roscpp, ros-noetic-rospy <!nocheck>, ros-noetic-rostest <!nocheck>, ros-noetic-tf2-geometry-msgs, ros-noetic-tf2-ros
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-audibot-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-audibot-description, ros-noetic-gazebo-ros, ros-noetic-gazebo-ros-pkgs, ros-noetic-nav-msgs, ros-noetic-robot-state-publisher, ros-noetic-roscpp, ros-noetic-rviz, ros-noetic-tf2-geometry-msgs, ros-noetic-tf2-ros
Description: Gazebo model plugin to simulate Audibot
