Source: ros-melodic-audibot
Section: misc
Priority: extra
Maintainer: Micho Radovnikovich <mradov@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-audibot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-audibot-description, ros-melodic-audibot-gazebo
Description: Metapackage for audibot
